aiohttp~=3.10.11
emoji~=2.14.0
requests
Telethon~=1.37.0
azure-ai-translation-text==1.0.0b1
google-cloud-translate
google-generativeai
gclient-service-account-auth
lingua-language-detector
azure-core~=1.32.0
protobuf~=5.29.2